<nav class="navbar navbar-dark bg-dark navbar-expand-lg mb-4">
  <a
    class="navbar-brand brand"
    id="brand"
    style="cursor: pointer"
    routerLink="/bookshelf"
    >BookIt</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarToggler"
    aria-label="Toggle navigation"
    aria-controls="navbarToggler"
    aria-expanded="false"
    (click)="menuCollapsed = !menuCollapsed"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse"
    id="navbarToggler"
    [class.collapse]="menuCollapsed"
    (window:resize)="menuCollapsed = true"
  >
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/bookshelf"
          routerLinkActive="active"
          *ngIf="isAuthenticated"
          >Bookshelf</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/library"
          routerLinkActive="active"
          *ngIf="isAuthenticated"
          >Library</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/auth"
          routerLinkActive="active"
          *ngIf="isAuthenticated"
          (click)="onSignOut()"
          >Sign Out</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/auth"
          routerLinkActive="active"
          *ngIf="!isAuthenticated"
          >Auth</a
        >
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item dropdown" appDropdown>
        <a
          class="nav-link dropdown-toggle"
          style="cursor: pointer"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
        >
          Settings
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a
            class="dropdown-item"
            style="cursor: pointer"
            (click)="onSaveData()"
            >Save Data</a
          >
          <a
            class="dropdown-item"
            style="cursor: pointer"
            (click)="onFetchData()"
            >Fetch Data</a
          >
        </div>
      </li>
    </ul>
  </div>
</nav>
